<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="enterKey">
                <h4 class="Title">Terms And Conditions</h4>          
            </div>
            <div class="ContentBox">
                <!-- <a href="JavaScript:Void(0);" data-toggle="modal" data-target="#EditModal"
                    href="JavaScript:Void(0);" class="Edit">Edit</a> -->
                <h3>viyiv</h3>
                <!-- <ckeditor [(ngModel)]="mycontent" 
                    #myckeditor="ngModel"
                    name="myckeditor"
                    required
                    [config]="ckeConfig" 
                    debounce="500" 
                    (paste)="onPaste($event)"
                    (change)="onChange($event)">
                </ckeditor> -->
            </div>       
        </div>
    </div>
</div>