// Colors Veriables
$black: #000;
$dimBlack: #141414;
$matBlack: #1b2630;
$lightBlue: #225085;
$darkBlue: #0e437e;
$blackBlue: #060f41;
$dimWhite: #fdfdfd;
$lightWhite: #f9f9fa;
$warmWhite: #f5f5f5;
$white: #fff;
$lightGreen: #75e17c;
$neonGreen: #00ff77;
$grey: #9a9a9a;
$lightGrey: #e1e3e8;
$skyColor: #5ae2ff;
$dimBlue: #5fb8ff;
$blueDark: #151d41;
$offGreen: #37c11e;
$dimGreen: #27debf;
$whiteOpacity: #fff6;
$lightCyan: #e6fbff;
$oceangreen: #eefbf1;
$raisinBlack: #231f20;
$offGray: #969696;
$offGray2: #323643;
$redcolor : #a94442;
$warmblue: #e7ecf3;
$yellow: #f1c40f;
$grayOpacity: #f9fafb;
$greyopacity:#9a9a9a4d;
$dimPurple: #af6bf4;
$darkpurple: #8033cf;
$nightBlack: #333333;
$softGrey: #ccc;
$darkpink: #e91b61;
$darkYellow: #f6a300;
$darkGreen: #18a76b;
$blueShade: #1b48a0;
$offblueShade: #2ea1e2;
$blueOpacity: #2595ef;
$blue2Opacity: #0079ff;
$lightYellow: #ffc206;
$skyLight: #2ea1e2;
$fadedWhite: #f2f2f2;
$parrotGreen: #2cbc63;
$warmGrey: #707070;
$cherryred: #de1e1e;
$darkBlueblack : #222730;
