<app-header></app-header>
<app-sidebar></app-sidebar>


<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="enterKey">
                <h4 class="Title">Gestão das Promoções</h4>

                <div class="SearchBox">
                    <form action="" [formGroup]="searchForm">
                        <input type="text" formControlName="search" class="form-control" placeholder="Pesquisa">
                        <button style="margin-left: 5px;" (click)="search(searchForm.value)">Aplique</button>
                        <button class="ButtonReset" (click)="getViewData()">Redefinir</button>
                    </form>
                </div>
            </div>




            <div class="TableList">
                <div class="mainTable ">
                    <table class="table  table-bordered ">
                        <thead>
                            <tr>
                                <th>S. Nº</th>
                                <th>Imagem</th>
                                <th>Nome</th>
                                <th>Preço</th>
                                <th>Validade da Promoção</th>
                                <th>Preço de Promoção </th>
                                <th>Descrição </th>
                                <th>Status</th>
                                <th>Açao </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr
                                *ngFor='let x of recordArray | paginate: { itemsPerPage: limit, currentPage: pageNumber , totalItems: total };let i=index'>
                                <td>{{(i+1) + srNumber }}</td>
                                <td><img src="{{x?.productImage}}" alt="" class="imgWidth"></td>
                                <td>{{x?.productName}}</td>
                                <td>{{x?.price}} Kz</td>
                                <td title="{{x?.offerEndDate | date:'dd/MM/yyyy h:mm a'}}">
                                    {{x?.endDate | date:'dd/MM/yyyy h:mm a'}}</td>
                                <td>{{x?.offerPrice}} Kz</td>
                                <td>{{x?.description}}</td>
                                <td *ngIf="x?.status=='Active'" style="color:green" title="Active">Active</td>
                                <td *ngIf="x?.status=='Inactive'" style="color:red" title="Inactive">Inactive</td>
                                <td *ngIf="x?.status!='Active' && x?.status!='Inactive'"></td>

                                <td>
                                    <a class="Green" *ngIf="x?.oStatus=='Inactive'" data-toggle="modal" data-target="#toggles" (click)="toggles(x)" title="Click"><i class="fa fa-check"
                                            style="color:green;cursor: pointer;"></i></a>
                                    <a *ngIf="x?.oStatus=='Active'" data-toggle="modal" data-target="#toggles" (click)="toggles(x)"
                                        title="Click"><i class="fa fa-ban" style="color:red;cursor: pointer;"></i></a>

                                </td>

                            </tr>
                            <tr *ngIf="recordArray == ''">
                                <td colspan="9" vertical-align="middle">
                                    <div class="no-record">
                                        <div class="no-recordin">
                                            <H5 style="margin-left:-7%;">No record found</H5>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <div *ngIf="recordArray != ''" class="pull-right mt-4">
                        <pagination-controls (pageChange)="pagination($event)"></pagination-controls>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="ModalBox">
    <div id="DeleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal">&times;</a>
                        <h3>Delete</h3>
                        <p>Are you sure you want to delete ?</p>
                        <h4>
                            <a href="JavaScript:Void(0);" data-dismiss="modal">no</a>
                            <a href="JavaScript:Void(0);" (click)="deleteApi()" data-dismiss="modal">Yes</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ModalBox">
    <div id="toggles" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <a href="JavaScript:Void(0);" class="CloseModal" (click)="reset()" data-dismiss="modal">&times;</a>
                    <div class="PasswordArea">
                        <div class="row">
                            <div class="col-sm-12">
                                <form [formGroup]="addOfferForm">
                                    <div class="form-group">
                                        <label>Data de início</label>
                                        <input type="date" class="form-control" formControlName="startDate">
                                        <div class="text-danger"
                                            *ngIf="addOfferForm.get('startDate').hasError('required') && (formvalidation.submitted || addOfferForm.get('startDate').dirty)">
                                            *Campo é obrigatório
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Data final</label>
                                        <input type="date" class="form-control" formControlName="endDate">
                                        <div class="text-danger"
                                            *ngIf="addOfferForm.get('endDate').hasError('required') && (formvalidation.submitted || addOfferForm.get('endDate').dirty)">
                                            *Campo é obrigatório
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control" formControlName="offerStatus">
                                            <option value="">Status</option>
                                            <option *ngFor="let y of statusData" value="{{y}}">
                                                {{y}}
                                            </option>
                                        </select>
                                        <div class="text-danger"
                                            *ngIf="addOfferForm.get('offerStatus').hasError('required') && (formvalidation.submitted || addOfferForm.get('offerStatus').dirty)">
                                            *Campo é obrigatório
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select class="form-control" (change)="changeCategory($event)"
                                            formControlName="storeId">
                                            <option value="">Categoria</option>
                                            <option *ngFor="let y of storeList" value="{{y._id}}">
                                                {{y.name}}
                                            </option>
                                        </select>
                                        <div class="text-danger"
                                            *ngIf="addOfferForm.get('storeId').hasError('required') && (formvalidation.submitted || addOfferForm.get('storeId').dirty)">
                                            *Campo é obrigatório
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Subcategoria</label>
                                        <select class="form-control" formControlName="storeCategoryId">
                                            <option value="">Subcategoria</option>
                                            <option *ngFor="let y of categoryList" value="{{y._id}}">
                                                {{y.name}}
                                            </option>
                                        </select>
                                        <div class="text-danger"
                                            *ngIf="addOfferForm.get('storeCategoryId').hasError('required') && (formvalidation.submitted || addOfferForm.get('storeCategoryId').dirty)">
                                            *Campo é obrigatório
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Preço com desconto</label>
                                        <input type="text" name="" class="form-control" placeholder="Preço com desconto"
                                            formControlName="offerPrice">
                                        <div class="text-danger"
                                            *ngIf="addOfferForm.get('offerPrice').hasError('required') && (formvalidation.submitted || addOfferForm.get('offerPrice').dirty)">
                                            *Campo é obrigatório
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="addOfferForm.get('offerPrice').hasError('pattern') && (formvalidation.submitted || addOfferForm.get('offerPrice').dirty)">
                                            *Somente número
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Quantidade</label>
                                        <input type="text" name="" class="form-control" placeholder="Quantidade"
                                            formControlName="offerQuantity">
                                        <div class="text-danger"
                                            *ngIf="addOfferForm.get('offerQuantity').hasError('required') && (formvalidation.submitted || addOfferForm.get('offerQuantity').dirty)">
                                            *Campo é obrigatório
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="addOfferForm.get('offerQuantity').hasError('pattern') && (formvalidation.submitted || addOfferForm.get('offerQuantity').dirty)">
                                            *Somente número
                                        </div>
                                    </div>
                                    <button type="submit" (click)="addOffer(addOfferForm.value)"
                                        class="Button apply_btn">Confirme</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
